.index {
    background-color: #E4E4E4;
}
.index header {
    box-shadow: 0px -1px 10px rgb(0, 0, 0);
    display: flex;
    width: 100%;
    align-items: center;
    height: 12vw;
    margin-top: -20vw;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-bottom-right-radius: 2rem 5rem;
    border-bottom-left-radius: 2rem 5rem;
    position: fixed;
    z-index: 9999;
}

.index header a{
    height: 60%;
    width: 30%;
}
.index header a img{
    height: 100%;
    width: 100%;
    filter: drop-shadow(6px 6px 2px #0000006d);
}

.index header h4{
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    color: transparent;
    background: #000000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.648);
}

.index main {
    margin-top: 20vw;
}

.index main .containTextToTransform,
.index main .containResult {
    width: 90%;
    height: 50vw;
    margin: 10% 5%;
    position: relative;
    background: #DCD6F7;
    box-shadow: inset 0px 0px 19px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border: #000000 solid 1px;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
}

.index main .containTextToTransform {
    display: flex;
    align-items: center;
    justify-content: center;
}

.index main .containTextToTransform textarea {
    width: 80%;
    height: 50%;
    border: none;
    background: transparent;
    text-align: center;
    outline: none;
}

.index main .containTextToTransform .buttonPaste {
    width: 4rem;
    position: absolute;
    box-shadow: 0px 10px 10px #000000;
    border: none;
    bottom: 10vw;
    right: 5vw;
    background-color: #424874;
    color: white;
    border-radius: 0.2rem;
    padding: 0.1rem;
}

.index main .containTextToTransform .buttonPaste:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 5px 10px #000000;
    cursor: pointer;
}

.index main .containResult{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.index main .containResult p {
    height: 80%;
    width: 60%;
    max-height: 50vw;
    margin-left: 2.5%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.479)
}

.index main .containResult img{
    width: 40%;
    position: absolute;
    top: 10vw;
    right: 5vw;
}

.index main .containResult .buttonCopy{
    width: 4rem;
    position: absolute;
    box-shadow: 0px 10px 10px #000000;
    border: none;
    bottom: 10vw;
    right: 5vw;
    background-color: #424874;
    color: white;
    border-radius: 0.2rem;
    padding: 0.1rem;
    display: none;
}

.index main .containResult .buttonCopy:hover,
.index main .containButton button:hover{
    background-color: black;
    color: white;
    box-shadow: 0px 5px 10px #000000;
    cursor: pointer;
}

.index main .containButton{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 10vw;
    align-items: center;
}

.index main .containButton button{
    border-radius: 0.1rem;
    padding: 0.5rem 1rem;
    box-shadow: 0px 10px 10px #000000 ;
    border: none;
    width: 30%;
    font-size: 1.2em;
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    animation: buttons 3s infinite ease-in-out;
}

@keyframes buttons {
    0% { padding: 0.5rem 1rem; width: 30%; font-size: 1.2em; border-radius: 0.5rem;}
    50% { padding: 0.6rem 1rem; width: 37%;font-size: 1.3em; border-radius: 1.5rem;}
    100% { padding: 0.5rem 1rem; width: 30%;font-size: 1.2em; border-radius: 0.5rem;}
}

.index main .containButton .buttonOne {
    background-color: #424874;
    color: white;
}
.index main .containButton .buttonTwo {
    background-color: #8b8a8a;
    color: black;
}

.index footer {
    box-shadow: 0px -1px 10px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 2rem;
    margin-top: 15vw;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-top-right-radius: 2rem 5rem;
    border-top-left-radius: 2rem 5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: static;
    width: 100%;
    bottom: 0;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
}

@media (min-width: 768px) {

    .index header h4{
        font-size: 2.5em;
    }

    .index main .containTextToTransform,
    .index main .containResult {
        height: 20vw;
        margin: 1% 5%;
    }

    .index main .containTextToTransform textarea,
    .index main .containResult p {
        font-size: 2em;
    }

    .index main .containResult p {
        width: 80%;
        max-height: 20vw;
    }
    
    
    .index main .containButton button{
        border-radius: 2rem;
        padding: 0.7rem 2rem;
    }

    @keyframes buttons {
        0% { padding: 0.7rem 1rem; width: 30%; font-size: 2em;border-radius: 0.8rem;}
        50% { padding: 1rem 1rem; width: 37%;font-size: 2.2em; border-radius: 2rem;}
        100% { padding: 0.7rem 1rem; width: 30%;font-size: 2em; border-radius: 0.8rem;}
    }

    .index main .containResult img{
        top: 2vw;
        right: 2vw;
        width: 20%;
    }

    .index main .containResult .buttonCopy,
    .index main .containTextToTransform .buttonPaste {
        bottom: 5vw;   
    }

}

@media (min-width: 1024px) {

    .index header {
        margin-top: -12vw;
        height: 8vw;
    }

    .index main {
        margin-top: 12vw;
    }

    .index main .containTextToTransform,
    .index main .containResult {
        height: 10vw;
    }

    .index main .containResult p {
        max-height: 10vw;
    }

    .index main .containResult img{
        top: 1vw;
        right: 2vw;
        width: 10vw;
    }

    .index footer {
        margin-top: 7rem
    }

    .index main .containResult .buttonCopy,
    .index main .containTextToTransform .buttonPaste{
        bottom: 2vw;   
    }

}